@page "{author?}"
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model Chirp.Web.Pages.AboutMeModel
@{
    ViewData["Title"] = "About Me";
    Layout = "Shared/_Layout.cshtml";
}
<div class="behind-headline">
    <h2>About Me</h2>
</div>

@if(!User.Identity?.IsAuthenticated ?? true)
{
    <p>You are not logged in.</p>
}
else
{
    <div class="behind-headline about-section">
        <section>
            <h3>Profile</h3>
            <p><strong>User name:</strong> @Model.AuthorName</p>
            <p><strong>Email:</strong> @Model.Email</p>
        </section>
    </div>
    
    <div class="behind-headline about-section">
        <section>
            <h3>My cheeps</h3>
            @if (Model.MyCheeps.Any())
            {
                <ul>
                    @foreach (var cheep in Model.MyCheeps)
                    {
                        <li>
                            <strongs>@cheep.TimeStamp:</strongs> @cheep.Text
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>You have not posted any cheeps yet.</p>
            }
        </section>
    </div>
    
    <div class="behind-headline about-section">
    <section>
        <h3>Following @Model.FollowingCount</h3>
        @if (Model.Following.Any())
        {
            <ul>
                @foreach (var follower in Model.Following)
                {
                    <li>
                        <strongs><a href="/@follower.Name">@follower.Name</a></strongs>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>Not following anyone</p>
        }
    </section>
    </div>
    
    <div class="behind-headline about-section">
    <section>
        <h3>Followers @Model.FollowersCount</h3>
        @if (Model.Followers.Any())
        {
            <ul>
                @foreach (var followers in Model.Followers)
                {
                    <li>
                        <strongs><a href="/@followers.Name">@followers.Name</a></strongs>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>No followers</p>
        }
    </section>
    </div>
    
        <section>
            <form method="post" asp-page-handler="ForgetMe">
                <button type="submit" style="background-color:#970000;color:white;border:none;padding:0.5rem 1rem;">
                    Forget me!
                </button>
            </form>
        </section>
}