@page "/{author}"
@model Chirp.Web.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div class="container mt-4">
    <div class="behind-headline">
        <h2>@Model.AuthorName's Timeline</h2>
        <h3>Following @Model.FollowingCount | Followers @Model.FollowersCount
        </h3>         
    </div>
    
    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps list-unstyled">
            @foreach (var cheep in Model.Cheeps)
            {
                <li id="cheep-@cheep.Id" class="mb-3 border-bottom pb-2">
                    <div class="d-flex align-items-center">
                        <p class="mb-1">
                            <strong><a href="/@cheep.AuthorName">@cheep.AuthorName</a></strong>
                            @cheep.Text
                            <small class="text-muted">— @cheep.TimeIso</small>
                        </p>
                        @{
                            bool isLiked = Model.CurrentUser != null &&
                                           Model.CurrentUser.Liked.Any(l => l.CheepId == cheep.Id);   
                        }

                        <div style="margin-top:4px;">
                            <form method="post"
                                  asp-page-handler="Liked"
                                  class="ms-2"
                                  style="display:inline-flex; align-items:center; gap:6px;">

                                <input type="hidden" name="id" value="@cheep.Id"/>

                                <button class="bball-like" title="Like" type="submit">
                                    <span class="@(isLiked ? "bball-liked" : "bball")"></span>
                                </button>

                                <span class="like-text">
                                    @(isLiked ? "Unlike" : "Like")
                                </span>
                            </form>
                        </div>
                        
                    </div>
                </li>
            }
        </ul>

        <nav class="pager" style="margin-top:1rem">
            @if (Model.CurrentPage > 1)
            {
                <a href="/@Model.AuthorName?p=@(Model.CurrentPage - 1)">« Previous</a>
            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <a style="margin-left:1rem" href="/@Model.AuthorName?p=@(Model.CurrentPage + 1)">Next »</a>
            }
        </nav>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>